### Delta git config
[core]
    pager = delta
    quotepath = false
    longpaths = true
    autocrlf = input
    trustctime = false
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.attributes_global
    ignorecase = true
    untrackedcache = true

[interactive]
    diffFilter = delta --color-only

[delta]
    hyperlinks = true
    hyperlinks-file-link-format = "zed://file/{path}:{line}"
# hyperlinks-file-link-format = "vscode://file/{path}:{line}"
# hyperlinks-file-link-format = "idea://open?file={path}&line={line}"
# hyperlinks-file-link-format = "pycharm://open?file={path}&line={line}"

    line-numbers = true
    side-by-side = true
    syntax-theme = GitHub
    navigate = true

# minus-empty-line-marker-style = "#7C0E0E"
# minus-emph-style = bold black "#FF8080" strike
# minus-non-emph-style = black "#7C0E0E" strike
# minus-style = "#FF8080" "#7C0E0E"
    minus-style = red bold strike "#ffe0e0"
    minus-emph-style = "#ffffff" bold strike "#800000"
    minus-empty-line-marker-style = normal "#ffe0e0"

# plus-non-emph-style = black "#0E7C0E"
# plus-style = "#80FF80" "#0E7C0E"
# plus-emph-style = bold black "#80FF80"
# plus-empty-line-marker-style = "#0E7C0E"

    plus-style = green bold "#e0ffe0"
    plus-emph-style = "#ffffff" bold "#008000"
    plus-empty-line-marker-style = normal "#e0ffe0"

    file-style = bold yellow ul

[merge]
    conflictStyle = zdiff3
