services:
  caddy:
    container_name: caddy
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ${CADDY_FILE_PATH}:/etc/caddy
      - caddy_site:/srv
      - caddy_data:/data
      - caddy_conf:/config
    networks:
      general:
        aliases:
          - caddy

volumes:
  caddy_conf:
    driver: local
  caddy_site:
    driver: local
  caddy_data:
    driver: local

networks:
  general:
    name: ${NETWORK_NAME}
    external: true
