services:
  redis:
    container_name: redis
    restart: on-failure
    image: redis:8.2.2
    privileged: true
    env_file: ${ENV_FILE}
    ports:
      - 6379:6379
    networks:
      general:
        aliases:
          - redis
    volumes:
      - "redis_data:/data"

    mem_limit: 1G
    memswap_limit: 2G

    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: 10

volumes:
  redis_data:
    driver: local

networks:
  general:
    name: ${NETWORK_NAME}
    external: true
